.card{
    border: 2px solid black;
    width: 26%;
    display: block;
    font-weight: 500; 
   font-size: 16px;
   padding: 20px;
    

}img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}



.container
{ display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;  
}
.card  :hover{
    scale: 1.05;
    
}
